.App {
  background-color: #f5f5f5;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 5px;
}
.App__p {
  font-size: 100px;

  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
  color: #e8d7d6;
}
